body{
	 background-color: #fff8f9;
}
h1{
    margin:auto;
    vertical-align:middle;
    text-align: center;
    padding: 20px;
    font-family: Helvetica, sans-serif;
}
h2,h3,li{
    font-family: Helvetica, sans-serif;
}
a,p{
    /*text-align: center;*/
    font-family: Helvetica, sans-serif;
}
#projects{
    padding: 20px 20px;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: #fff9de;
    max-width: 600px;
    width: 50%;
}
#projectlist{
    padding-inline-start:10px;
}