body{
	 background-color: #fff8f9;
}
h1{
    margin:auto;
    vertical-align:middle;
    text-align: center;
    padding: 20px;
    font-family: Helvetica, sans-serif;
}
a,p{
    text-align: center;
    font-family: Helvetica, sans-serif;
}